[submodule "JoBooking-client"]
	path = JoBooking-client
	url = https://github.com/Rafhathdana/JoBooking-client
[submodule "JoBooking-server"]
	path = JoBooking-server
	url = https://github.com/Rafhathdana/JoBooking-server
[submodule "JoBooking-admin"]
	path = JoBooking-admin
	url = https://github.com/Rafhathdana/JoBooking-admin